<style>
.moum{border: 1px gainsboro solid;
      background-color: white;
      border-radius: 15px;
      padding : 10px;
      color: #337ab7;
      margin-right : 10px;}
.word{border: 1px gainsboro solid;
  background-color: antiquewhite;
  border-radius: 15px;
  padding : 10px;
  color: #337ab7;
  margin-right : 10px;}
.moum:hover {
    background-color: #ace2fd;
}
/*ec9898*/
.word:hover {
    background-color: #ace2fd;
}



</style>
<div id="mainList">
  <!--<div class="alert alert-info" role="alert">-->
    <!--<span class="moum">ㅏㅏ</span>-->
    <!--<span class="word">가자</span>-->
    <!--<span class="word">가자</span>-->
    <!--<span class="word">가자</span>-->
    <!--<span class="word">가자</span>-->
  <!--</div>-->
</div>
<script src="scripts/controllers/main.js"></script>
